<%- include("partials/header") -%>
<h1>Home</h1>
<p><%=para%></p>
<h2>Posts</h2>
<% posts.forEach((post)=>{ %>
    <div>
        <h3><%=_.capitalize(_.lowerCase((post.title)))%></h3>
        <p><%=post.content.substr(0, 100)%>
            <% if(post.content.length>100){%>
                ...<a href="/posts/<%=post.title%>">Read more</a>
            <%}%>
        </p>
    </div>
<% }); %>
<%- include("partials/footer") -%>